@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap'); 

:root {
    --primaryColor: #003366;    
    --secondaryColor: #06b6d4;  
    --accentColor: #f97316;     
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    font-family: 'Montserrat', Sans-Serif;
    position: relative; 
}

.background-container {
    height: 100%; 
    width: 100%;
    position: fixed; 
    background-image: linear-gradient(rgba(182, 177, 177, 0.5), rgba(182, 177, 177, 0.5)), url('../images/branding/map.jpg');    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.preview {
    padding: 2.5rem 0 0 3.5rem; 
    display: absolute;
    width: fit-content;
}

.preview i:hover {
    color: var(--secondaryColor); 
    cursor: pointer;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    width: 100%; 
    height: 100vh;
    padding: 5rem 5rem 0 5rem;
    color: #faf9f6;
    z-index: 10; 
}

#welcome-text h1 {
    font-size: 5rem;
    height: 100vh; 
    line-height: 1.5;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    color: #212428;
    font-weight: 800;
    transition: all 0.3s ease;
    text-align: center;
}

.welcome-text h1 > span {
    font-family: 'Bungee', cursive;
    font-weight: 400;
    color: var(--primaryColor); 
    display: inline; 
    margin-left: 1rem;
}

.login-container {
    position: relative; 
    grid-column: 2 / 3;
    align-self: center; 
    justify-self: center; 
    margin-right: 5rem;
    width: 100%; 
    max-width: 450px; 
    min-height: 550px; 
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

.preview-login {
    display: none;
}

.loginLogo {
    display: none;
}

.login-content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 5rem;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.login-content h1 {
    font-size: 3em; 
    margin-bottom: 4rem;
    color: var(--primaryColor); 
    font-weight: 800;
}

.login-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.log-field {
    position: relative;
    height: auto;
    margin-bottom: 2rem; 
    width: 20rem; 
}

.forgot {
    width: 20rem; 
    text-align: right;
    margin-bottom: 2rem;
}

.input-box {
    width: 100%; 
    height: 2.5rem;
    padding-right: 2rem; 
    background: transparent;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #000; 
    transition: border-bottom 0.3s ease; 
}
.input-box:focus {
    border-bottom: 1px solid var(--secondaryColor); 
}
.input-box::placeholder {
    color: #4e4e4e;
}

.input-box:focus::placeholder {
    color: #4e4e4e;
}

.log-field i, .input-group i {
    position: absolute;
    right: auto;
    left: calc(100% - 1.5rem); 
    top: 50%;
    transform: translateY(-50%);
    color: #4e4e4e; 
}

.input-group i:hover {
    cursor: pointer;
    color: var(--secondaryColor); 
}

.input-group {
    position: relative;
    width: 100%;
}

.forgot a {
    text-decoration: none;
    color: #3d3c3cb4;
    font-size: 0.8rem;
    transition: color 0.2s ease-in-out;
}

.forgot a:hover {
    color: var(--secondaryColor); 
}

.login-btn {
    width: 50%; 
    max-width: 200px;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid var(--primaryColor); 
    color: var(--primaryColor);
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.34s ease-in-out, color 0.34s ease-in-out;
}

.login-btn:hover {
    cursor: pointer;
    background-color: var(--primaryColor); 
    color: white;
}

.register {
    position: absolute;
    bottom: 2rem;
    margin: 0;
    text-align: center;
}

.register p {
    color: #6b7280; 
    font-size: 0.875rem; 
    margin-top: 2rem;
}

.register a {
    text-decoration: none;
    color: var(--secondaryColor); 
    transition: filter 0.2s ease-in-out;
    font-weight: 600;
}

.register a:hover {
    filter: brightness(0.8);
    text-decoration: underline;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none; 
}
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}
input[type="password"] {
    -webkit-text-security: disc; 
    appearance: none; 
    -moz-appearance: none; 
}

@media (max-width: 991px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .welcome-text {
        padding: 0;
        margin-top: 10vh;
        margin-bottom: 2rem;
        align-items: center;
        height: auto;
    }

    .welcome-text h1 {
        font-size: 0px !important;
        height: auto;
        text-align: center;
    }

    .login-container {
        margin: 1rem;
        margin-top: 3rem;
        padding: 10px 30px;
        grid-column: auto;
        justify-self: auto;
    }

    .log-field, .forgot {
        width: 90%;
    }

    .register {
        position: relative;
        bottom: 0;
        margin: 1rem 0 2rem 0;
    }
}

@media (max-width: 500px) {
    .welcome-text {
        display: none;
    }

    .login-container {
        margin: 0;
        width: 100%;          
        height: 100vh;      
        max-width: 100%;    
        border-radius: 0;   
        display: flex;
        align-items: center;
    }

    .login-content {
        width: 100%;
        margin: 0;
    }

    .preview-login {
        display: block;          
        position: absolute;       
        top: 2rem;              
        left: 2rem;              
        z-index: 20;              
        width: fit-content;
        padding: 0;
    }

    .preview-login i {
        font-size: 1.5rem;       
        cursor: pointer;
        color: #4e4e4e;
    }
    
    .preview-login i:hover {
        color: var(--secondaryColor);
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {
    body {
        grid-template-columns: 1fr 450px 500px 1fr; 
    }
    
    .welcome-text {
        grid-column: 2 / 3;
        align-items: flex-end;
        padding-right: 2rem; 
        padding-left: 0;    
        margin-top: 20%;
        margin-left: 10%;
    }
    
    .welcome-text h1 {
        text-align: right;
    }

    .login-container {
        grid-column: 3 / 4;
        margin: 0;
        justify-self: flex-start; 
    }
}