.reports-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 0 20px;
} 

.report-card {
    background: white;
    border-radius: 12px;
    overflow: hidden; 
    border: 1px solid #e5e7eb;
    box-shadow: var(--shadow-sm);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    animation: flipY 5s linear;
}

.report-card:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-md);
    border-color: #d1d5db;
}

.card-image {
    height: 180px;
    width: 100%;
    position: relative;
    background-color: #f3f4f6;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.badge {
    position: absolute;
    top: 12px;
    right: 12px; 
    left: auto;
    padding: 4px 10px;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.type-fire { background-color: #EF4444; } 
.type-assault { background-color: #991B1B; }
.type-accident { background-color: #F59E0B; } 
.type-theft { background-color: #8B5CF6; } 
.type-flooding { background-color: #3B82F6; }
.type-vandalism { background-color: #10B981; }
.type-harassment { background-color: #EC4899; }
.type-suspicious { background-color: #6366F1; }
.type-other { background-color: #9CA3AF; }
.type-road { background-color: #4B5563; }
.type-stray { background-color: #B45309; }
.type-waste { background-color: #0891B2; }

.card-content {
    padding: 20px;
    margin-top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.meta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.incident-id {
    color: #9ca3af;
    font-size: 0.75rem;
    font-family: monospace;
}

.incident-date {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--primaryColor);
}

.description {
    font-size: 0.95rem;
    color: #374151;
    margin-bottom: 20px;
    line-height: 1.6;
    flex-grow: 1;
}

.location-box {
    background: #f9fafb;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 0;
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.address {
    font-size: 0.85rem;
    font-weight: 600;
    color: #111827;
}

.coords {
    font-size: 0.7rem;
    color: #9ca3af;
}

.reporter-info {
    border-top: 1px solid #f3f4f6;
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
        object-fit: cover; 
}

.reporter-name {
    font-size: 0.85rem;
    color: #4b5563;
}

@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.statusdeleted {
    opacity:0.3;border-color:red;animation: flipY 10s linear infinite;
}